*.zip
.vscode/
__pycache__/
/runs/
*.pth
*.pt
.DS_Store
*.ini
/figures/*.png
.ipynb_checkpoints


/data/Intel
/data/CIFAR10
/data/CIFAR100
/data/food-101
/data/PetImages



*.pkl
*.sh
/wandb/
/ckpt/
test.py
/nbs/